.observe {
  width: 46rem;
  height: 46rem;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../../assets/images/3d.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
