.scroll-nav {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: all;
  z-index: 9;
  &_list {
    display: flex;
    align-items: center;
    list-style: none;
    overflow: auto;
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &_item {
    display: flex;
  }
}
